{% extends "layout.html" %}

{% block title %}
    Upload Image
{% endblock %}

{% block main %}
    <div class="container mt-3">
        <div class="row justify-content-md-center mb-3">
            <div class="col">
                <h2 class="font-2">Upload a image</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                <!--Nothing -->
            </div>
            <div class="col-6">
                <img class="mb-4" src="static/images/upload_image.png" height="300px">
                <form action="/uploadImage" method="post" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02" name="file">
                        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <!--Nothing -->
            </div>
        </div>
    </div>
{% endblock %}
